{% extends "navbar.html" %}
{% block title %} Edutotop-Home {% endblock title %}
{% load static %}
{% block script %} <link rel="stylesheet" href="{% static 'css/style2.css' %}">{% endblock script %}
{% block body%}

<section class="home-section">
  <div class="search"> 
    <ul class="search-content">
    <li>
    <i class='bx bx-search'></i>
    <input type="text" placeholder="Search...">
  </li>
</ul>
</div>

<div class="category"> 
  <ul class="category-content">
  <li>
  <a href="">
    <span class="links_name">All Subjects</span>
  </a>
</li>
<li>
  <a href="">
    <span class="links_name">Maths</span>
  </a>
</li>
<li>
  <a href="">
    <span class="links_name">Science</span>
  </a>
</li>
<li>
  <a href="">
    <span class="links_name">Social Science</span>
  </a>
</li>
<li class="last">
  <a href="">
    <span class="links_name">Hindi</span>
  </a>
</li>
</ul>
</div>
<div class="header">
  <h2>Recommended</h2>
</div>
<div class="tabs">
      <h5 class="links_name active"><span class="note active" >Notes</span></h5>
      <h5 class="links_name"><span class="video" >Videos</span></h5>
     
      
</div>
<div id="notes" class="card-notes">
  <div class="card-div">
    <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
  </div>
  <div class="card-div">
    <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
  </div>
  <div class="card-div">
    <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
   
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>

     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>

     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
  </div>
</div>

<div id="videos" class="hide">
  <div class="card-div">
    <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">we are note here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">we are note here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">we are note here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">we are note here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
  </div>
  <div class="card-div">
    <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">we are note here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
  </div>
  <div class="card-div">
    <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
     <div class="card">
       <img src="{%  static 'images/profile.jpg'  %}" alt="" class="thumbnail">
      <div class="card-body">
       
       <img src="{%  static 'images/profile.jpg'  %}" alt="author" class="circle">
       <h5 class="title">We are here</h5>
     </div>
       <p class="name">Prem shahi</p>
       <p class="views-time">129k - 1 day ago</p> 
     

     </div>
  </div>
</div>

<script src="{% static 'js/tab.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>


{% endblock body %}
